@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}
